<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Listar Sueldo</title>
  <link rel="stylesheet" th:href="@{/style/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="header-container">
    <h1>Listar Sueldo</h1>
    <a th:href="@{/empresa/volver}">
      <button class="btn-custom" type="button">Volver</button>
    </a>
  </div>
  <form th:action="@{listarSueldo}" method="post">
    <input type="hidden" name="opcion" value="buscar">
    <table class="table table-info table-striped-columns" border="1">
      <tr>
        <th>DNI:</th>
        <td><input type="text" name="dni" size="50"></td>
      </tr>
    </table>
    <input type="submit" class="btn-custom" value="Buscar">
  </form>
</body>
</html>