<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Listar Sueldo</title>
  <link rel="stylesheet" th:href="@{/style/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="header-container">
    <h1>Listar Sueldo</h1>
    <a th:href="@{/empresa/volver}">
      <button class="btn-custom" type="button">Volver</button>
    </a>
  </div>

  <table class="table table-info table-striped-columns" border="1">
    <thead>
      <tr>
        <th>Dni</th>
        <th>Salario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td th:text="${dni}"></td>
        <td th:text="${sueldo}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
